@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  transition: all 300ms;
}

.verde {
  background-color: #20603B !important;
}

.rojo {
  background-color: red !important;
}

.azul {
  background-color: blue !important;
}

.li_verde:hover {
  background-color: #20603B !important;
}

.li_azul:hover {
  background-color: blue !important;
}

.li_rojo:hover {
  background-color: red !important;
}

.oculto {
  display: none !important;
}

body {
  background-image: url("./img/hojas.jpg");
  background-attachment: fixed;
}
body #global {
  margin: 0px auto;
  margin-top: 30px;
  width: 65%;
  box-shadow: 0px 0px 4px #ccc;
}
body #global #contenido_principal {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body #global #contenido_principal #header, body #global #contenido_principal #slider, body #global #contenido_principal #content {
  flex-basis: 100%;
  flex-grow: 1;
  width: 100%;
  padding: 1% 2%;
}
body #global #contenido_principal #header {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  align-items: center;
}
body #global #contenido_principal #header #titulo_header {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
body #global #contenido_principal #header #titulo_header h1 {
  font-size: 30px;
  background-color: #20603B;
  letter-spacing: 4px;
  font-weight: 600;
  color: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 9px 5px;
}
body #global #contenido_principal #header #navbar {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  flex-basis: 100%;
  background-color: #333;
}
body #global #contenido_principal #header #navbar #menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
body #global #contenido_principal #header #navbar #menu li {
  transition: all 300ms;
}
body #global #contenido_principal #header #navbar #menu li a {
  text-transform: uppercase;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
  display: block;
  cursor: pointer;
  width: 100%;
  transition: all 300ms;
}
body #global #contenido_principal #header #navbar #menu li:hover {
  transform: scale(1.1);
  border-radius: 5px;
  box-shadow: 0px 0px 3px white;
  background-color: #20603B;
}
body #global #contenido_principal #slider .bx-wrapper {
  max-width: 100% !important;
}
body #global #contenido_principal #slider .bx-wrapper .bx-viewport .bxslider > * {
  width: 100% !important;
  height: 250px !important;
}
body #global #contenido_principal #content {
  display: flex;
  flex-wrap: wrap;
  font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
}
body #global #contenido_principal #content #reloj {
  margin-right: 1%;
  flex-basis: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #global #contenido_principal #content #reloj h1 {
  font-size: 50px;
  border: 1px solid red;
  padding: 20px;
}
body #global #contenido_principal #content #contacto {
  flex-basis: 66%;
}
body #global #contenido_principal #content #contacto h2, body #global #contenido_principal #content #contacto form {
  width: 100%;
  margin: 10px;
}
body #global #contenido_principal #content #contacto h2 {
  text-align: center;
  font-size: 50px;
}
body #global #contenido_principal #content #contacto form {
  display: flex;
  flex-wrap: wrap;
  height: 35%;
  justify-content: space-between;
  margin: 0;
}
body #global #contenido_principal #content #contacto form #campo_nombre {
  flex-basis: 49%;
}
body #global #contenido_principal #content #contacto form #campo_nombre * {
  width: 98.5%;
  height: 40px;
}
body #global #contenido_principal #content #contacto form #campo_email {
  flex-basis: 49%;
}
body #global #contenido_principal #content #contacto form #campo_email * {
  width: 98.5%;
  height: 40px;
}
body #global #contenido_principal #content #contacto form #campo_mensaje {
  flex-basis: 100%;
  flex-grow: 1;
  margin-top: 5px;
}
body #global #contenido_principal #content #contacto form #campo_mensaje * {
  width: 99%;
  height: 200px;
}
body #global #contenido_principal #content #contacto form #boton_enviar {
  flex-basis: 100%;
  flex-grow: 1;
  margin-top: 5px;
}
body #global #contenido_principal #content #contacto form #boton_enviar #button_enviar {
  width: 100%;
  height: 50px;
  color: white;
  background-color: black;
  border-radius: 5px;
  font-size: 20px;
  transition: all 300ms;
}
body #global #contenido_principal #content #contacto form #boton_enviar #button_enviar:hover {
  transform: scale(1.05);
  color: black;
  background-color: whitesmoke;
}
body #global #contenido_principal #content #acerca_de_mi {
  margin-right: 1%;
  flex-basis: 66% !important;
  display: flex;
  justify-content: center;
}
body #global #contenido_principal #content #acerca_de_mi #accordion h3 {
  background-image: url("./img/lines.png");
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
body #global #contenido_principal #content #acerca_de_mi #accordion div {
  background-color: whitesmoke;
  border-radius: 5px;
}
body #global #contenido_principal #content #acerca_de_mi #accordion div p {
  margin: 0px 3px 0px 3px;
}
body #global #contenido_principal #content #acerca_de_mi #accordion div ul {
  list-style: none;
}
body #global #contenido_principal #content #posts {
  margin-right: 1%;
  flex-basis: 66%;
}
body #global #contenido_principal #content #posts .post {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
body #global #contenido_principal #content #posts .post h2 {
  color: #333;
  font-size: 30px;
  text-align: left;
  flex-basis: 100%;
  flex-grow: 1;
  width: 100%;
}
body #global #contenido_principal #content #posts .post span {
  flex-basis: 100%;
  margin-top: 5px;
  flex-grow: 1;
  width: 100%;
  color: #ccc;
}
body #global #contenido_principal #content #posts .post p {
  flex-basis: 100%;
  margin-top: 5px;
  flex-grow: 1;
  width: 100%;
  text-align: justify;
}
body #global #contenido_principal #content #posts .post .leer_más {
  margin-top: 5px;
  background-color: #20603B;
  color: white;
  padding: 10px 5px;
  border: none;
  text-decoration: none;
  transition: all 300ms;
}
body #global #contenido_principal #content #posts .post .leer_más:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px #333;
}
body #global #contenido_principal #content #sidebar {
  margin-left: 5.5%;
  padding-bottom: 20px;
  flex-basis: 27%;
}
body #global #contenido_principal #content #sidebar h3 {
  background-image: url("./img/lines.png");
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
body #global #contenido_principal #content #sidebar img {
  width: 100%;
  border-radius: 5px;
}
body #global #contenido_principal #content #sidebar p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
}
body #global #contenido_principal #content #sidebar #login_sidebar {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
body #global #contenido_principal #content #sidebar #login_sidebar h3 {
  flex-basis: 100%;
}
body #global #contenido_principal #content #sidebar #login_sidebar form {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
}
body #global #contenido_principal #content #sidebar #login_sidebar form input, body #global #contenido_principal #content #sidebar #login_sidebar form label {
  width: 94%;
  margin-top: 5px;
  padding: 5px;
}
body #global #contenido_principal #content #sidebar #login_sidebar form button {
  width: 50%;
  margin: 5px auto;
  margin-top: 5px;
  background-color: #20603B;
  color: white;
  padding: 10px 5px;
  border: none;
  text-decoration: none;
  transition: all 300ms;
}
body #global #contenido_principal #content #sidebar #login_sidebar form button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px #333;
}
body #global #contenido_principal #content #sidebar #sesion_iniciada {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
body #global #contenido_principal #content #sidebar #sesion_iniciada h3 {
  flex-basis: 100%;
}
body #global #contenido_principal #content #sidebar #sesion_iniciada form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
body #global #contenido_principal #content #sidebar #sesion_iniciada form button {
  width: 50%;
  margin: 5px auto;
  margin-top: 5px;
  background-color: #20603B;
  color: white;
  padding: 10px 5px;
  border: none;
  text-decoration: none;
  transition: all 300ms;
}
body #global #contenido_principal #content #sidebar #sesion_iniciada form button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px #333;
}
body .pie {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
  background-color: rgba(105, 105, 105, 0.5);
  width: 65%;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
body .pie a {
  text-decoration: none;
  color: blanchedalmond;
  text-shadow: 0px 0px 3px black;
}
body #cambio_tema {
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 150px;
  width: 75px;
  background-color: rgba(105, 105, 105, 0.5);
  top: 50%;
  align-items: center;
  justify-content: center;
}
body #cambio_tema .seleccion_color {
  width: 70%;
  height: 30%;
  margin: 5px;
  opacity: 1 !important;
  background-image: url("./img/arrow-der.png");
  transition: all 300ms;
}
body #cambio_tema #color_verde {
  background-color: green;
}
body #cambio_tema #color_rojo {
  background-color: red;
}
body #cambio_tema #color_azul {
  background-color: blue;
}
body #cambio_tema .seleccion_color:hover {
  border: 2px solid white;
}
body #goback {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: rgba(105, 105, 105, 0.5);
  top: 90%;
  left: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px white;
}
body #goback a {
  text-align: center;
  color: azure;
  font-size: 50px;
  font-weight: 900;
  display: block;
  width: 100%;
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
